{%extends 'base.html'%}

{%block content%}
    <header class="bg-dark py-5 h-75">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Coustimze Mobile !!</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8"> 
            <p class="text-justify mt-4" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget ipsum vestibulum, aliquet erat id, pretium turpis. Phasellus accumsan, risus sed mattis sodales, ante dolor mattis dui, congue laoreet lacus est sed urna. Nullam imperdiet aliquam viverra. Quisque in eros luctus, ullamcorper libero at, condimentum urna. Phasellus eleifend turpis justo, in congue dui volutpat eget. Donec hendrerit, orci at egestas tristique, nisi nunc accumsan elit, a dapibus ante sem sit amet lorem. Sed porta odio dui. Donec a mauris mattis, mollis enim quis, fringilla sapien. Pellentesque ultrices convallis porta.
            </p>
            <p class="text-justify">
                Integer egestas vitae dolor eu dignissim. Curabitur a lacinia massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam dapibus risus sit amet nulla consectetur, pharetra consequat nulla tristique. Vivamus sit amet felis imperdiet, aliquam nisi sit amet, commodo ligula. Cras iaculis aliquam lacus, a laoreet purus laoreet fringilla. Aliquam ullamcorper sagittis consequat. Praesent ac hendrerit odio, sed dapibus velit. Sed tempus risus eu lacus ultricies imperdiet. Ut venenatis malesuada nisl.
            </p>
            <p class="text-justify mb-4">
                Etiam sed ex sit amet nisi eleifend lobortis sed finibus quam. Proin ut metus lorem. Pellentesque scelerisque laoreet maximus. Duis aliquet at eros a feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus facilisis aliquam leo in egestas. Morbi pretium augue in nulla dapibus congue. Nullam volutpat purus ut faucibus ultrices. Donec imperdiet arcu sit amet diam iaculis finibus.
            </p>
            </div>
        </div>
    </div>

{%endblock%}